.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__image {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.logo__title {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 42px;
  color: #03483a;
  margin: 0;
  padding: 0;
}

.logo__info {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 20px;
  color: #03483a;
  margin: 0;
  padding: 0;
}
