:root {
  --green: #107862;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container-fluid {
  height: 100vh;
  display: flex;
  background-color: rgba(1, 1, 1, 0.03);
}

.form__wrapper {
  position: sticky;
}

.complain__list {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-color: var(--green) #e0e0e0;
  scrollbar-width: thin;
}

.complain__list::-webkit-scrollbar {
  width: 10px;
}

.complain__list::-webkit-scrollbar-track {
  background-color: rgba(169, 192, 180, 0.795);
}

.complain__list::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: var(--green);
  border: 6px solid rgba(0, 0, 0, 0.2);
}

.complain__item {
  margin-bottom: 32px;
  border: none;
  box-shadow: rgba(100, 111, 105, 0.3) 0px 4px 8px 0px;
  transition: 0.5s;
  border: 2px solid white;
  border-bottom: 2px solid white;
}

.complain__item:hover {
  transform: scale(1.05);
  border-bottom: 2px solid var(--green);
}

.complain__item:active {
  border: 2px solid var(--green);
}

.complain__avatar {
  width: 48px;
  height: 48px;
  margin: 0 12px;
  border-radius: 50px;
  margin-right: 20px !important;
  border: 1px solid var(--green);
}

.complain-center {
  padding: 0 20px;
}

.complain-center-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: rgba(100, 111, 105, 0.3) 0px 4px 8px 0px;
}

.user__complain-username {
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  color: var(--green);
}

.complain-type {
  font-size: 24px;
  font-weight: normal;
  color: var(--green);
}

/* .user__avatar-wrapper {
  border: 1px solid red;
  width: 25%;
  margin-right: 5%;
  display: flex;
  align-items: center;
} */

.bg-success {
  background-color: var(--green) !important;
}

.bg-warning {
  background-color: #e3b505 !important;
}
.bg-danger {
  background-color: #f03a47 !important;
}

.h6 {
  color: rgba(0, 0, 0, 0.7);
}

.btn-success {
  background-color: var(--green) !important;
  color: white !important;
  font-weight: medium !important;
}

.btn-warning {
  background-color: #e3b505 !important;
  color: white !important;
  font-weight: medium !important;
}
.btn-danger {
  background-color: #f03a47 !important;
  color: white !important;
  font-weight: medium !important;
}
