* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bg-success {
  background-color: #107862 !important;
}

.bg-warning {
  background-color: #e3b505 !important;
}
.bg-danger {
  background-color: #f03a47 !important;
}

.h6 {
  color: rgba(0, 0, 0, 0.7);
}

.btn-success {
  background-color: #107862 !important;
  color: white !important;
  font-weight: medium !important;
}

.btn-warning {
  background-color: #e3b505 !important;
  color: white !important;
  font-weight: medium !important;
}
.btn-danger {
  background-color: #f03a47 !important;
  color: white !important;
  font-weight: medium !important;
}
