.comments__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 20px;
  box-shadow: rgba(100, 111, 105, 0.3) 0px 4px 8px 0px;
}

.comments__navbar-left {
  display: flex;
  align-items: center;
}

.comments__navbar-image {
  margin-right: 16px;
}

.comments__navbar-text {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.comments__navbar-right {
  display: flex;
  align-items: center;
}

.filter__button {
  background-color: var(--green) !important;
  border: 1px solid var(--green);
}

.select__language {
  margin-left: 20px;
  padding: 4px 8px;
  border: none;
  outline: none;
  background-color: var(--green);
  color: white;
  border-radius: 4px;
}

.select__language:focus {
  outline: none;
}

.select__language option {
  color: var(--green);
  background-color: white;
}
